VITE_SANITY_PROJECT_ID=zan6neq8
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-01-01
VITE_SANITY_USE_CDN=true
# Optional: only if you need private datasets or drafts
# VITE_SANITY_TOKEN=your_read_token

